@font-face {
  font-family:'aldo' ;
  src: url('../fonts/AldotheApache.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'assistant';
  src: url('../fonts/SansitaSwashed-VariableFont_wght.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
}
.container-header{
  z-index: 1;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  position: sticky;
  top: 0px;
}

.icon-home{
  display: block;
  width: 90px;
  height: 5%;
}
/* menu responsive */
.nav__checkbox {
  display: none;
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 01rem;
  right: 0;
  top: 0;
}

.nav__toggle svg {
  width: 1rem;
  fill:white;
}

.nav__toggle .close {
  display: none;
}

.nav__toggle.close,
.nav__toggle.menu {
  margin-top: 0.3rem;
}

#nav__checkbox:checked ~ ul.container-nav-list > li {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

.container-nav-list li {
  display: none;
  list-style-type: none;
}
.container-nav{
  width: 400px;
  display: flex;
  align-items: center;
}
.container-nav-list{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  align-items: center;

  
}

.nav-list-item{
  list-style: none;
}

.nav-list-item > a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: 'assistant';
}

.container-text-home{
  width: 300px;
  position: absolute;
  left: 40%;
  top: 30%;
}

.container-text-home > ul {
  width: max-content;
  margin: auto;
}

.container-text-home > ul > li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 1.7rem;
  font-family: 'assistant';
  color: #FFFFFF;
}

.home-title{
  width: max-content;
  margin: auto;
  font-family:'aldo';
  font-size: 5rem;
  color: #FFFFFF;
}

.container-galery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-galery{
  flex: 1 1 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

.item-description{
  display: none;
  text-decoration: none;

}

.item-galery:hover .item-description{
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
}

.item-description div {
  width: max-content;
  margin: auto;
  text-align: center;
}

.item-description div p {
  margin: 10px;
  color: white;
  font-family: 'Roboto', sans-serif; ;
}

.item-description div .titulo {
  font-weight:800;
}

.item-description div .realizacion {
  font-style: normal;
}

.item-description div .fecha {
  font-style: italic;
}

/* nosotros */
.container-nosotros{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

/* contacto */
.container-contact{
  margin-top: 5%;
}

.container-contact-wpp{
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.container-contact-wpp h3, h4 {
  color: white;
  font-size: 25px;
}

.container-contact-wpp > div{
  margin: auto 5%;
}

.container-contact-button{
  width:max-content ;
}

.container-contact-button > a{
    padding: 16px 44px;
    font-size: 14px;
    letter-spacing: 3px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
}

.container-contact-button > a:hover{
  background-color: #FFFFFF;
  color: #212121; 
}

.container-contact-follow{
  width: 200px;
  margin: auto;
  position: relative;
  top: 15px;
  background-color: #f8f8f8;
  color: #212121; 
  font-size: 25px;
  text-align: center;
  box-shadow: 3px 3px  #2121218b;
}

.container-contact-social{
  padding: 100px;
  background-color: #f8f8f8;
}

.container-contact-social > div {
  width:  300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.container-contact-social > div > i {
  font-size: 30px;
  color: rgba(32,32,32,.6);
}

.container-contact-social > div > i:hover{
  color: rgba(32,32,32,1);
}





/* media queries */

@media only screen and (min-width: 767px) {
  
  .nav__toggle {
    display: none;
  }

  .container-nav-list {
    flex-direction: row;
  }

  .container-nav-list li {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .icon-home{
    display: block;
    width: 14%;
    height: 5%;
  }
  .container-text-home{
    left: 15%;
    color: #FFFFFF;
  }
  .container-galery{
    
    flex-direction: column;
  }
  .item-galery{
  
    flex: none;
  }
  .container-contact-wpp > div{
    margin: auto;
  }
  .container-contact-text{
    width: 190px;
  }
  .container-contact-button > a{
    padding: 15px 2px;
    letter-spacing: 2px
  }
  .container-contact-social > div {
  width: auto;
}
}

@media screen and (max-width:425px){
  .container-text-home{
    left: 10%;
    
  }
}

@media screen and (max-width:375px){
  .container-text-home{
    left: 5%;
    
  }
}

@media screen and (max-width:344px){
  .container-contact-text{
    margin: auto;
  }
  .container-contact-button{
    margin-top: 30px;
    width: 190px;
  }
}