@font-face {
  font-family:'aldo' ;
  src: url('../fonts/AldotheApache.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'assistant';
  src: url('../fonts/SansitaSwashed-VariableFont_wght.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  background-color: black;
}
.container-header{
  z-index: 2;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  position: sticky;
  top: 0px;
}

.icon-home{
  display: block;
  width: 60px;
  /* height: 5%; */
}
/* menu responsive */
.nav__checkbox {
  display: none;
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 01rem;
  right: 0;
  top: 0;
}

.nav__toggle svg {
  width: 1rem;
  fill:white;
}

.nav__toggle .close {
  display: none;
}

.nav__toggle.close,
.nav__toggle.menu {
  margin-top: 0.3rem;
}

#nav__checkbox:checked ~ ul.container-nav-list > li {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

.container-nav-list li {
  display: none;
  list-style-type: none;
}
.container-nav{
  width: 400px;
  display: flex;
  align-items: center;
}
.container-nav-list{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  align-items: center;

  
}

.nav-list-item{
  list-style: none;
}

.nav-list-item > a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto', sans-serif; 
}

.nav-list-item > a:hover{
  /* color: rgba(32,32,32,1); */
  text-shadow: 5px 5px 10px #FFFFFF;

}

.container-text-home{
  position: absolute;
  top: 30%; 
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-text-home > ul {
  width: max-content;
  margin: auto;
}

.container-text-home > ul > li {
  list-style: none;
  margin-bottom: 20px;
  text-align: center;
}

.container-text-home > ul > li > a {
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif; 
  font-weight: bold;
  font-style: italic; 
  text-decoration: none;
  color: #FFFFFF;
}

.container-text-home > ul > li > a:hover{
  color: rgba(32,32,32,1);
  text-shadow: 2px 2px 5px #FFFFFF;
}

.home-title{
  width: max-content;
  margin: auto;
  font-family:'aldo';
  font-size: 5rem;
  letter-spacing: 5px;
  color: #FFFFFF;
}

.container-contact-social-home{
  position: absolute;
  top: 70%;
  width: 100%;
  display: flex;
}

.container-contact-social-home > .container-contact-social-items{
  width:  300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.container-contact-social-home > .container-contact-social-items > a{
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.titulo-sections{
  color: #FFFFFF;
  font-family:'aldo';
  font-size: 5rem;
  text-align: center;
  margin: 25px;
  letter-spacing: 5px;
}

.container-galery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.item-galery{
  flex: 1 1 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 38vh;
  overflow: hidden;
}

.item-container{
  display: none;
  width: 100%;
  position: relative;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.4, 1.4);
  }
}

.item-galery:hover .item-container {
  display: block;
  overflow: hidden;
}

.item-galery:hover .item-container video {
  animation-name: zoom-in-zoom-out;
  animation-duration: 2s;
  animation-timing-function: ease;  
}

.item-description{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.item-gif{
  width: 100%;
}



.item-description div {
   width: max-content; 
  margin: auto;
  text-align: center;
}

.item-description div p {
  margin: 10px;
  color: white;
  font-family: 'Roboto', sans-serif; 
}

.item-description div .titulo {
  font-weight:800;
}

.item-description div .realizacion {
  font-style: normal;
}

.item-description div .fecha {
  font-style: italic;
}

/* nosotros */
.container-nosotros{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.nosotros-container-text{
  width: 40%;
  margin: 20px;
}

.nosotros-title{
  font-size: 3rem;
  font-family: 'Roboto', sans-serif; 
  font-weight: bold;
  font-style: italic; 
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.nosotros-description{
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif; 
  font-weight: 100;
  font-style: italic; 
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 10px;
}

.nosotros-galery{
  display: flex;
  flex-wrap: wrap;
}

.nosotros-galery-item {
  width: 50%;
  overflow: hidden;
}

.nosotros-galery-item > img{
  width: 100%;
  height: 1080px;
  cursor: pointer;
}

.nosotros-galery-item:hover img{
  transform: scale(1.2);
  transition: all 1s ease;
}

/* contacto */
.container-contact{
  margin-top: 5%;
}

.container-contact-wpp{
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.container-contact-wpp h3, h4 {
  color: white;
  font-size: 25px;
}

.container-contact-wpp > div{
  margin: auto 5%;
}

.container-contact-button{
  width:max-content ;
}

.container-contact-button > a{
    padding: 16px 44px;
    font-size: 14px;
    letter-spacing: 3px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
}

.container-contact-button > a:hover{
  background-color: #FFFFFF;
  color: #212121; 
}

.container-contact-follow{
  width: 200px;
  margin: auto;
  position: relative;
  top: 15px;
  background-color: #f8f8f8;
  color: #212121; 
  font-size: 25px;
  text-align: center;
  box-shadow: 3px 3px  #2121218b;
}

.container-contact-social{
  padding: 70px;
  background-color: #f8f8f8;
}

.container-contact-social > .container-contact-social-items {
  width:  300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.container-contact-social-items > a {
  font-size: 30px;
  color: rgba(32,32,32,.6);
  text-decoration: none;
}

.container-contact-social-items > a:hover{
  color: rgba(32,32,32,1);
}





/* media queries */

@media only screen and (min-width: 767px) {
  
  .nav__toggle {
    display: none;
  }

  .container-nav-list {
    flex-direction: row;
  }

  .container-nav-list li {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .icon-home{
    display: block;
    width: 14%;
    height: 5%;
  }
  .container-galery{
    
    flex-direction: column;
  }
  .item-galery{
    
    flex: none;
  }
  .container-contact-wpp > div{
    margin: auto;
  }
  .container-contact-text{
    width: 190px;
  }
  .container-contact-button > a{
    padding: 15px 2px;
    letter-spacing: 2px
  }
  .container-contact-social > div {
  width: auto;
}
  .nosotros-galery {
    flex-direction: column;
  }
  .nosotros-galery-item{
    width: 100%;
  }
}

@media screen and (max-width:643px) {
  .titulo-galery{
    font-size: 3rem;
  }
}

@media screen and (max-width:550px){

  .container-text-home{
    top: 25%;
  }

  .container-text-home > ul > li > a{
    font-size: 1rem;
    margin-bottom: 5px;
    
  }
  .home-title{
    font-size: 2rem;
  }
  .container-contact-social-home{
    top: 50%;
  }
  .container-contact-social-home > .container-contact-social-items{
    width: 150px;
  }
  .container-contact-social-home > .container-contact-social-items > a{
    font-size: 1.5rem;
  }
}

@media screen and (min-width:550px) and (max-width:767px){
  .container-text-home{
    top: 30%;
  }

  .container-text-home > ul > li > a{
    font-size: 1.3rem;
    margin-bottom: 5px;
    
  }
  .home-title{
    font-size: 3rem;
  }
  .container-contact-social-home{
    top: 60%;
  }
  .container-contact-social-home > .container-contact-social-items{
    width: 150px;
  }
  .container-contact-social-home > .container-contact-social-items > a{
    font-size: 2rem;
  }
}

@media screen and (max-width:344px){
  .container-contact-text{
    margin: auto;
  }
  .container-contact-button{
    margin-top: 30px;
    width: 190px;
  }
  .titulo-sections{
    font-size: 4rem;
  }
}

@media screen and (min-width:767px) and (max-width:900px) {
  .item-galery{
    
    height: 25vh;
  }
}


@media screen and (min-width:901px) and (max-width:1280px) {
  .item-galery{
    
    height: 30vh;
  }
}

@media screen and (max-width:424px) {
  .container-contact-social > .container-contact-social-items{
    width: 150px;
  }
  .nosotros-container-text{
    width: 90%;
  }
}

@media screen and (max-width:410px) {
  .container-text-home {
    top: 17%;
}
.container-contact-social-home {
  top: 41%;
}
}

@media screen and (max-width:330px) {
.container-contact-social-home {
  display:none ;
}
}